<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" id="creatureType" name="type">

    <label for="creatureName">IMG_url</label>
    <input type="text" id="creatureName" name="img_url">

    <input type="submit" value="Add a Prehistoric Creature">
</form>
